@import "reset.scss";
@import "variables/global.scss";
@import "themes/dark.scss";
@import "themes/normal.scss";
@import "themes/brown.scss";

.app,
.app_modal {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background-color: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);
    background-repeat: 20px;
    border: 2px solid var(--primary-color);
}
